.ph-jumbotron {
  background-color: #659599;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
  color:white;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  text-align: center;
}

h3.ph-page-title {
  margin-top: 5px;
