#container { 
  width: 100%;
}

/*-----------------------------------------------------------------------------
 * Common attributes
 * ---------------------------------------------------------------------------*/
#banner-inner, #pagebody-inner, #footer-inner { 
	width: 1000px;
  margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
	}

#banner { 
	background: #00BCD4;
}

/*-----------------------------------------------------------------------------
 * Page Banner
 * ---------------------------------------------------------------------------*/
#banner { 
  background: #00BCD4;
  height: auto;
}

#banner-header, #banner-description {
	margin-left: 10px;
}

#banner-inner { 
	position: relative; 
	top: 0;
	padding: 0px 10px 10px 0px;
	background: transparent;
	border: 0;
}
	
/*-----------------------------------------------------------------------------
 * Page Footer
 *---------------------------------------------------------------------------*/
#footer {
}

#footer-inner {
}

#footer a, #footer a:hover  { 
}

/*-----------------------------------------------------------------------------
 * HTML Tags
 *---------------------------------------------------------------------------*/
body {
  background: #F1F8E9; 
}
