/*-----------------------------------------------------------------------------
 * HTML Tags
 *---------------------------------------------------------------------------*/
body {
  background: #F1F8E9; 
}

html {
  font-family: "Roboto";
  position: relative;
}

#container { 
  width: 100%;
}

/*-----------------------------------------------------------------------------
 * Common attributes
 * ---------------------------------------------------------------------------*/
#banner-inner, #pagebody-inner, #footer-inner { 
	width: 100%;
  margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
	}

#banner { 
	background: #00BCD4;
}

/*-----------------------------------------------------------------------------
 * Page Banner
 * ---------------------------------------------------------------------------*/
#banner { 
  background: #00BCD4;
  height: auto;
}

#banner-header, #banner-description {
	margin-left: 2%;
}

#banner-inner { 
	position: relative; 
	top: 0;
	padding: 0px 10px 10px 0px;
	background: transparent;
	border: 0;
}
	
/*-----------------------------------------------------------------------------
 * Page Footer
 *---------------------------------------------------------------------------*/
#footer {
}

#footer-inner {
}

#footer a, #footer a:hover  { 
}

/*-----------------------------------------------------------------------------
 * Search Terms & Results
 *---------------------------------------------------------------------------*/
#search {
	margin-left: 10%;
}

#search-terms {
	margin: 0px 5px;
	width: 35%;
}

#search-results {
	line-height: 300%;
	margin: 0px 20px;
	width: 80%;
}


